[user]
  name = Sebastian Olsen
  email = {{ .email | quote }}
  signingkey = /home/seb/.ssh/id_github.pub

[credential]
  helper = cache --timeout=3600

[core]
  quotepath = false
  autocrlf = input
  excludesFile = ~/.gitignore
  pager = delta

[commit]
  verbose = true  # show diff in the commit message editor

[branch]
  sort = -committerdate  # sort branches by last commit date

[column]
	ui = auto  # use columns for listing branches

[tag]
  sort = version:refname  # sort tags by version

[diff]
  tool = difftastic
  mnemonicPrefix = true  # use i/w/c instead of a/b/c (index, worktree, commit)
  colorMoved = plain     # color moved code
  renames = true         # detect renames
  algorithm = histogram  # better diffing

[difftool]
  prompt = false  # don't prompt for confirmation

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[merge]
  tool = nvim
  conflictstyle = zdiff3  # Show conflicts in a 3-way diff (<<< HEAD, ||| Common ancestor, >>> Incomming)

[pager]
  difftool = true  # use pager if diff is too large

[push]
  default = simple        # push the current branch to its remote branch (same name)
  autoSetupRemote = true  # create a remote branch when pushing a new branch
  ; followTags = true     # push tags to remote when pushing branches

[pull]
  rebase = true     # rebase instead of merge when pulling

[fetch]
  prune = true      # remove local branches that no longer exist on remote
  pruneTags = true  # remove tags that no longer exist on remote
  all = true        # fetch updates from all remotes (--no-all to bypass)

[rebase]
  autoStash = true   # stash changes before rebasing (in case of dirty worktree)
  autoSquash = true  # auto squash `fixup!`, `squash!` and `amend!` commits
  updateRefs = true  # auto update any branch that points to commits that are being rebased
  stat = true        # show diffstat since last rebase

[rerere]
  enabled = true     # record resolution of conflicted merges, so seen conflicts can be auto resolved
  autoupdate = true  # update index after rerere

[log]
  abbrevCommit = true

[help]
  autocorrect = prompt

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  file-decoration-style = 11 overline
  file-style = 232 bold 11
  file-copied-label = [C]
  file-modified-label = [M]
  file-removed-label = [⛌]
  file-renamed-label = [→]

[init]
  defaultBranch = main

[gpg]
  format = ssh

[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg = lg1
  dft = difftool
  # `git dlog` to show `git log -p` with difftastic.
  dlog = -c diff.external=difft log -p --ext-diff
